<header>
	<nav class="navBar">
			<a href="/">Home</a>
			<a href="/account">Account</a>
			<a href="/my-workouts">My Workouts</a>
			<a href="/posts">User Forum</a>
			<a href="#">Logout</a>
</header>

<section>
    <br>
	<div class = "header">
        <h3>User Posts</h3>
	</div>
  	
	<table>
		
		<thead>
		<table id = "t2">
			<tr>
				<th>User Name</th>
				<th>Post</th>
				<th>Likes</th>
				<th>View Comments</th>
			</tr>
		</thead>

		<tbody>
			{{#each posts}}
			<tr>
				<td>{{userName}}</td>
				<td>{{postText}}</td>
				<td>{{likes}}</td>
				<td><button onclick="completeWorkout({{registration_id}})">Mark Complete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

    <br>
<div class = "table">
<form id="addpost" action="/posts" method="post">
<div class = "header">
	<h3>Add Post</h3>
	</div>
			<table>
			<tr>
				<td>Post Text: </td>
				<td><input type="text" id="postText" name="postText"></td>
			</tr>
			<tr>
				<td><input type="submit" id="Submit" value = "Submit"></td>
			</tr>
			</table>
		</form>
	</div>
    	<br>
</section>
