<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<style>
.login-form {
    width: 440px;
    margin: 100px auto;
  	font-size: 15px;
    font-family: "times roman"
}
.login-form  {
    margin-bottom: 15px;
    padding: 10px;  
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 12px;
    
}
.btn {        
    font-size: 20px;
    background: blue;
}
</style>
</head>
<body>
<div class="login-form">
    <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
        <h3 class="text-center">Sign Up</h3>       
        <div class="user">
        <br>
            <input type="text" placeholder="Username" id="username" class="form-control">
            <br>
        </div>
        <div class="email">
        
            <input type="text" placeholder="Email Address" id="email" class="form-control">
            <br>
        </div>
        <div class="password">
            <input type="password" placeholder="Password" id="password" class="form-control">
        <br>
        </div>  
        
        <div class="confirmpassword">
            <input type="password" placeholder="Confirm Password" id="confirmpassword" class="form-control">
        <br>
<div class="securityquestion">
            <select id="myList" placeholder = "Security Question" class="form-control">
            <option value = "Security Question">Security Questions</option>
               <option value = "1">What was your childhood nickname?</option>
               <option value = "2">In what city were you born?</option>
               <option value = "3">What was the last name of your fifth grade teacher?</option>
               <option value = "4">What is the name of a college you applied to but did not attend?</option>
             </select>
          </p>
    
<div class="answer">
            <input type="password" placeholder="Your Answer" id="password" class="form-control">
        <br>
        <div class="createaccount">
            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
        </div>
        <br>
    </form>
    <p class="text-right">Already have an account?  <a href="Sign In">Sign In </a></p>
</div>
</body>